.ql-placeholder {
  background-color: #f3f3f3;
  color: #333;
  padding: 3px 8px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  margin: 2px;
}

.ql-placeholder::before {
  content: "# ";
  font-weight: bold;
  color: #007bff;
}