body {
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}


.App {
    display: flex; /* סידור האלמנטים בצד אחד של השני */
    min-height: 100vh; /* למשל להחליף ל-min-height */
    overflow-y: auto;  /* לגלילה אנכית במידת הצורך */
    margin: 0;
    padding: 0;
  
}
  
.sidebar {
    width: 4.5rem; /* רוחב קבוע */
    background-color: #ffffff; /* רקע אופציונלי */
}
  
.content {
    flex: 1; /* תופס את כל השטח שנותר */
    padding: 1rem; /* הפחתת המרווח הפנימי */
    background-color: #e5e7eb; /* רקע אפור */
    display: flex;
    flex-direction: column; /* מאפשר סידור אנכי */
    align-items: center; /* מרכז את התוכן לרוחב */
    width: 100%;
}

.container {
    max-width: 90%; /* רוחב מקסימלי לתוכן */
    margin: 0 auto; /* מרכז את התוכן */
    padding: 1rem; /* מרווח פנימי קל */
    background: white; /* רקע לבן */
    border-radius: 8px; /* פינות מעוגלות */
    align-items: center; /* מרכז את התוכן לרוחב */
    justify-content: center; /* מרכז את התוכן לאורך */
}

.settings-container {
  width: 90%; /* משתרע על רוב רוחב הדף */
  max-width: 100%; /* רוחב מקסימלי לתוכן */
  margin: 0 auto; /* מרכז את התוכן */
  padding: 1rem; /* מרווח פנימי קל */
  border-radius: 8px; /* פינות מעוגלות */
  align-items: center; /* מרכז את התוכן לרוחב */
  justify-content: center; /* מרכז את התוכן לאורך */
}

.input-sz {
    font-size: 14px;
}

.form-floating.form-floating-sm>.form-control,
.form-floating.form-floating-sm>.form-control-plaintext {
  padding: inherit;
}

.form-floating.form-floating-sm>.form-control,
.form-floating.form-floating-sm>.form-control-plaintext,
.form-floating.form-floating-sm>.form-select {
  padding: 0.32rem .75rem;
  background-color: white;
  min-height: auto;
  height: inherit;
  /* min-height: inherit; */
  line-height: inherit;
}

.form-floating.form-floating-sm>.form-control-plaintext~label,
.form-floating.form-floating-sm>.form-control:focus~label,
.form-floating.form-floating-sm>.form-control:not(:placeholder-shown)~label,
.form-floating.form-floating-sm>.form-select~label {
  color: rgba(var(--bs-body-color-rgb), .65);
  transform: scale(.9) translateY(-0.9rem) translateX(0.1rem);
  background-color: white;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  line-height: 1;
}

.form-floating.form-floating-sm>label {
  position: absolute;
  top: 0;
  left: 0.75rem;
  margin-bottom: 0;
  z-index: 2;
  padding: 0 0;
  height: auto;
  font-size: 12px;
  padding-top: 0.50rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: var(--bs-border-width) solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.inventory-item-offcanvas-list { 
    font-size: 14px;
    margin-bottom: 0;
    padding: 0;
}

.offcanvas {
  --bs-offcanvas-width: 45%;
}

.table-item {
    font-size: 0.7rem;
}

.popover {
    max-width: 100% !important; /* משנה את רוחב ה-Popover */
    width: auto; /* שומר על התאמה אוטומטית לתוכן */
}