body {
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}


.App {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.content {
  margin-left: 4.5rem; /* כדי שהתוכן לא יתנגש עם ה-sidebar */
  flex-grow: 1;
  padding: 1rem;
  background-color: #e5e7eb;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.module-container {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.input-sz {
    font-size: 14px;
}

.form-floating.form-floating-sm>.form-control,
.form-floating.form-floating-sm>.form-control-plaintext {
  padding: inherit;
}

.form-floating.form-floating-sm>.form-control,
.form-floating.form-floating-sm>.form-control-plaintext,
.form-floating.form-floating-sm>.form-select {
  padding: 0.32rem .75rem;
  background-color: white;
  min-height: auto;
  height: inherit;
  /* min-height: inherit; */
  line-height: inherit;
}

.form-floating.form-floating-sm>.form-control-plaintext~label,
.form-floating.form-floating-sm>.form-control:focus~label,
.form-floating.form-floating-sm>.form-control:not(:placeholder-shown)~label,
.form-floating.form-floating-sm>.form-select~label {
  color: rgba(var(--bs-body-color-rgb), .65);
  transform: scale(.9) translateY(-0.9rem) translateX(0.1rem);
  background-color: white;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  line-height: 1;
}

.form-floating.form-floating-sm>label {
  position: absolute;
  top: 0;
  left: 0.75rem;
  margin-bottom: 0;
  z-index: 2;
  padding: 0 0;
  height: auto;
  font-size: 12px;
  padding-top: 0.50rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: var(--bs-border-width) solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.inventory-item-offcanvas-list { 
    font-size: 14px;
    margin-bottom: 0;
    padding: 0;
}

.offcanvas {
  --bs-offcanvas-width: 45%;
}

.lg-offcanvas {
  --bs-offcanvas-width: 65%;
}

@media (max-width: 768px) {
    .offcanvas {
        --bs-offcanvas-width: 100%;
    }
  
}

.table-item {
    font-size: 0.7rem;
}

.popover {
    max-width: 100% !important;
    width: auto;
}

#fieldsDropdown::after {
  display: none !important;
}

.my-logo-fade {
  animation: fadeScale 1.5s ease-in-out infinite;
}

@keyframes fadeScale {
  0% { opacity: 0.2; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.1); }
  100% { opacity: 0.2; transform: scale(1); }
}

.loading-text-purple {
  color: #5A34F1;
  font-weight: 600;
}

.custom-btn {
  background-color: var(--dotzHubMainColor);
  border-color: var(--dotzHubSecondColor);  
}

.custom-btn:hover {
  box-shadow: 0 0 0 4px var(--dotzHubSecondColor); /* approx ring-rose-500 */
}
/* Scrollbar styles */

/* vertical scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 10px;
}

/* scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: var(--dotzHubMainColor) !important;
  border-radius: 8px;
}

/* scrollbar track (the background part) */
::-webkit-scrollbar-track {
  background: transparent !important;
}

.kanban-add-task-btn {
  display: inline-block;
  background: transparent;
  border: none;
  font-weight: bold;
  color: #5A34F1;
  transition: all 0.2s ease;
  transform: translateY(0); /* מצב התחלתי */
}

.kanban-add-task-btn:hover {
  color: #FF6C2F;
  transform: translateY(-2px); /* תזוזה קלה למעלה */
}

.kanban-add-account-btn {
  display: inline-block;
  background: transparent;
  border: none;
  font-weight: bold;
  color: #5A34F1;
  transition: all 0.2s ease;
  transform: translateY(0); /* מצב התחלתי */
}

.kanban-add-account-btn:hover {
  color: #FF6C2F;
  transform: translateY(-2px); /* תזוזה קלה למעלה */
}

.text-purple {
  color: #5A34F1 !important;
}

.kanban-card {
  background-color: #f8f9fa; /* bg-light */
  color: #5A34F1; /* טקסט סגול */
  /* border: 2px solid transparent; */
  transition: border-color 0.2s ease, background-color 0.2s ease;
  position: relative;
}

.kanban-card:hover {
  border-color: #FF6C2F; /* הכתום של DotzHub */
}

.card-action {
  opacity: 0;
  transition: opacity 0.2s ease;
  display: inline-block;
}

.kanban-card:hover .card-action {
  opacity: 0.5;
}

.kanban-card:hover .card-action:hover {
  opacity: 1;
<<<<<<< HEAD
=======
}

.preserve-newlines {
  white-space: pre-wrap;
>>>>>>> dev
}