body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}

.App {
    display: flex; /* סידור האלמנטים בצד אחד של השני */
    height: 100vh; /* גובה מלא של הדף */
  }
  
  .sidebar {
    width: 4.5rem; /* רוחב ה-sidebar */
    background-color: #f8f9fa; /* רקע אופציונלי */
  }
  
  .content {
    flex: 1; /* תופס את שארית הרוחב */
    padding: 10rem; /* מרווח פנימי */
    background-color: #f0f0f0; /* רקע אפור אופציונלי */
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;


  }